[Desktop Entry]
Name=Générateur de mots de passe
Comment=Generateur de mots de passe securise pour Ubuntu
Exec=mdp-generator
Icon=mdp-logo
Terminal=false
Type=Application
Categories=Utility;Security;
